<% page_obj = local_assigns.fetch(:page, nil) %>
<% url = local_assigns[:url] %>
<% remote = local_assigns[:remote] %>

<li class="page-item <%= 'disabled' unless page_obj %>">
  <% label = t('views.pagination.last', default: 'Última') %>
  <% if page_obj %>
    <%= link_to label, url, class: "page-link", aria: { label: label }, rel: 'last', remote: remote %>
  <% else %>
    <span class="page-link" aria-hidden="true"><%= label %></span>
  <% end %>
</li>
