<% page_obj = local_assigns.fetch(:page, nil) %>
<% url = local_assigns[:url] %>
<% remote = local_assigns[:remote] %>

<li class="page-item <%= 'disabled' unless page_obj %>">
  <% icon = capture do %>
    <span aria-hidden="true">&raquo;</span>
    <span class="visually-hidden"><%= t('views.pagination.next', default: 'Próxima') %></span>
  <% end %>

  <% if page_obj %>
    <%= link_to url, class: "page-link", rel: 'next', aria: { label: t('views.pagination.next', default: 'Próxima') }, remote: remote do %>
      <%= icon %>
    <% end %>
  <% else %>
    <span class="page-link" aria-hidden="true">&raquo;</span>
  <% end %>
</li>
